<node-header-page page="Home Page"></node-header-page>

<section class="about-section pt-80 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-30">
        <div class="about-content">
          <h2 class="title mb-2 text-dark fs-3">Welcome To Jstore</h2>
          <p class="mb-20">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, labore molestias? Ipsa voluptates, nobis delectus aliquid possimus expedita, omnis voluptatum dicta saepe adipisci ab voluptas necessitatibus? Qui voluptas facilis ea!
            Quibusdam aliquam nam assumenda delectus itaque voluptate vero laudantium neque non corrupti ex odio asperiores eius blanditiis praesentium, animi voluptatum explicabo molestiae est perspiciatis beatae nemo. Iure, totam! Dolorum, dolorem.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis esse earum fugiat obcaecati. Corrupti provident, sapiente, sint nesciunt omnis non, quae nostrum voluptate dolor quia veritatis neque totam ex et.
          </p>
        </div>
      </div>
      <div class="col-lg-6 mb-30">
        <div class="about-left-image mb-30">
          <img src="/assets/img/6.jpg" class="first-fluid img-fluid" alt="about">
        </div>
      </div>
      <div class="col-md-4 mb-30">
        <div class="about-info">
          <h4 class="title mb-3 fs-4 text-dark">Our Company</h4>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere, aliquid consequuntur nam quas sunt qui totam voluptatibus dolorem iste nihil earum eos error ea quia quidem quisquam porro eligendi iusto?
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-30">
        <div class="about-info">
          <h4 class="title mb-3 fs-4 text-dark">Our Team</h4>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere, aliquid consequuntur nam quas sunt qui totam voluptatibus dolorem iste nihil earum eos error ea quia quidem quisquam porro eligendi iusto?
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-30">
        <div class="about-info">
          <h4 class="title mb-3 fs-4 text-dark">Testimonial</h4>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere, aliquid consequuntur nam quas sunt qui totam voluptatibus dolorem iste nihil earum eos error ea quia quidem quisquam porro eligendi iusto?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
