<footer class="theme1 d-flex">
  <div class="footer-left bg-beige-css flex-1 py-5 pe-4">
    <div class="logo pb-4">
      <a href="index.html">
        <img src="/assets/img/logo_footer.png" alt="Logo Jstore">
      </a>
    </div>
    <p class="pb-3">Lorem ipsum dolor sit amet consectetur, elit. Non ipsam facilis soluta, porro accusamus obcaecati eius deserunt delectus.</p>
    <div class="d-flex align-items-center gap-2">
      <fa-icon [icon]="faPhoneVolume" class="fs-2 color-dark"></fa-icon>
      <div class=" d-flex flex-column lh-sm pb-3 pt-3">
        <p class="mb-0 text-uppercase">Need help ?</p>
        <a href="" class="link-underline-light color-noir-fonce fw-bold">(+33)752152560</a>
      </div>
    </div>
    <div class="rx-sociaux pb-5">Icone</div>
    <p class="">Copyright <span class="text-dark">Espero-soft</span> All Rights Reseved</p>
  </div>
  <div class="footer-right flex-3 bg-gray-css py-5 d-flex flex-column justify-content-between">
    <div class="footer-menu-lists d-flex justify-content-between px-4">
      <div class="menu-lists-item flex-1">
        <h6 class="text-dark text-uppercase fw-bold">Information</h6>
        <div class="soulignement mb-3 pt-2"></div>
        <div class="menu-list">
          <ul class="list-unstyled">
            <li><a href="" class="text-decoration-none text-body-tertiary">Delivery</a></li>
            <li><a href="" class="text-decoration-none text-body-tertiary">About Us</a></li>
            <li><a href="" class="text-decoration-none text-body-tertiary">Secure Payment</a></li>
            <li><a href="" class="text-decoration-none text-body-tertiary">Contact Us</a></li>
            <li><a href="" class="text-decoration-none text-body-tertiary">Stemap</a></li>
            <li><a href="" class="text-decoration-none text-body-tertiary">Stories</a></li>
          </ul>
        </div>
      </div>
      <div class="menu-lists-item flex-1">
        <h6 class="text-dark text-uppercase fw-bold">Custom links</h6>
        <div class="soulignement mb-3 pt-2"></div>
        <div class="menu-list">
          <ul class="list-unstyled">
            <li><a href="" class="text-decoration-none text-body-tertiary">Legal Notice</a></li>
            <li><a href="" class="text-decoration-none text-body-tertiary">Prices drop Us</a></li>
            <li><a href="" class="text-decoration-none text-body-tertiary">New Products</a></li>
            <li><a href="" class="text-decoration-none text-body-tertiary">Best Sales</a></li>
            <li><a href="" class="text-decoration-none text-body-tertiary">Login</a></li>
            <li><a href="" class="text-decoration-none text-body-tertiary">My account</a></li>
          </ul>
        </div>
      </div>
      <div class="menu-lists-item flex-2">
        <div class="padding-right">
          <h6 class="text-dark text-uppercase fw-bold">Newsletter</h6>
          <div class="soulignement mb-3 pt-2"></div>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error atque id tempora corporis, Ducimus.</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control rounded-start-pill" placeholder="Your email adress" aria-label="Your email adress" aria-describedby="button-addon2">
            <button class="btn btn-danger rounded-end-pill" type="button" id="button-addon2">Signup</button>
          </div>
          <div class="store d-flex gap-3 pt-2 px-1">
            <div><a href=""><img src="assets/img/appstore1.png" class="width-store" alt=""></a></div>
            <div><a href=""><img src="assets/img/playstore1.png" class="width-store" alt=""></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-icon-payment px-4">
      mes icones de payment
    </div>
  </div>
</footer>
